---
import { SEO, Props as SEOProps } from "astro-seo";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";
import Loading from "../components/Loading.astro";
import CanvasImg from "../components/pictures/CanvasImg.astro";

export interface Props {
	SEO: SEOProps;
	backgroundDisabled?: boolean;
}

const { SEO: seoProps, backgroundDisabled } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="loading">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			{...seoProps}
			titleDefault="Kaniel Kirby"
			titleTemplate="%s | Kaniel Kirby"
		/>
	</head>
	<body>
		<header></header>
		<Nav />
		<slot />
		<Footer />
		<CanvasImg />
		<Background />
		<Loading />
		<style>
			html,
			body {
				@apply h-full w-full;
			}
		</style>

		<style is:global>
			@font-face {
				font-family: "Comfortaa";
				src: url("/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf"),
					url("https://fonts.bunny.net/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
			}
			@font-face {
				font-family: "Fira Mono";
				font-weight: normal;
				src: url("/assets/fonts/Fira_Mono/FiraMono-Regular.ttf"),
					url("https://fonts.bunny.net/css2?family=Fira+Mono:wght@400&display=swap");
			}
			@font-face {
				font-family: "Fira Mono";
				font-weight: bold;
				src: url("/assets/fonts/Fira_Mono/FiraMono-Bold.ttf"),
					url("https://fonts.bunny.net/css2?family=Fira+Mono:wght@700&display=swap");
			}
			@font-face {
				font-family: "Fira Mono";
				font-weight: medium;
				src: url("/assets/fonts/Fira_Mono/FiraMono-Medium.ttf"),
					url("https://fonts.bunny.net/css2?family=Fira+Mono:wght@500&display=swap");
			}

			* {
				@apply font-body text-white;
			}
		</style>
	</body>
</html>
