---
import { SEO, Props as SEOProps } from "astro-seo";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";
import Loading from "../components/Loading.astro";
import CanvasImg from "../components/pictures/CanvasImg.astro";

export interface Props {
	SEO: SEOProps;
	backgroundDisabled?: boolean;
}

const { SEO: seoProps, backgroundDisabled } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="loading">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			{...seoProps}
			titleDefault="Kaniel Kirby"
			titleTemplate="%s | Kaniel Kirby"
		/>
	</head>
	<body>
		<Nav />
		<slot />
		<Footer />
		<CanvasImg />
		<Background />
		<Loading />
		<style>
			html,
			body {
				@apply w-full h-full;
			}
		</style>
	</body>
</html>
