public/polychrome.gif filter=lfs diff=lfs merge=lfs -text
# src/assets/bazaar.gif filter=lfs diff=lfs merge=lfs -text
# src/assets/healthcareportal.gif filter=lfs diff=lfs merge=lfs -text
public/github.png filter=lfs diff=lfs merge=lfs -text
public/linkedin.png filter=lfs diff=lfs merge=lfs -text
public/reddit.png filter=lfs diff=lfs merge=lfs -text
public/resume.png filter=lfs diff=lfs merge=lfs -text
public/image-2.jpg filter=lfs diff=lfs merge=lfs -text
public/image.jpg filter=lfs diff=lfs merge=lfs -text
public/discord.png filter=lfs diff=lfs merge=lfs -text
public/email.png filter=lfs diff=lfs merge=lfs -text
