---
import Logo from "./Logo.astro";
---

<nav
    class="flex items-center justify-between bg-black p-4 text-[black] max-md:justify-center"
>
    <div class="flex h-full gap-8 max-md:hidden">
        <a class="tt-mirror font-display text-2xl font-medium" href="/"
            >My Projects</a
        >
        <a class="tt-mirror font-display text-2xl font-medium" href="/contact"
            >Contact</a
        >
        <a class="tt-mirror font-display text-2xl font-medium" href="/about"
            >About</a
        >
        <a class="tt-mirror font-display text-2xl font-medium" href="/services"
            >Services</a
        >
    </div>
    <a data-tt="Business Card" href="/business-card" class="tt font-display">
        <Logo class="w-48" />
    </a>
    <div
        class="dev-wheel relative h-0 w-0 overflow-hidden transition-all duration-500 max-md:absolute max-md:right-6"
    >
        <img
            src="/src/assets/svgs/settings.svg"
            alt="Settings wheel"
            class="absolute bottom-0 left-0 right-0 top-0 m-auto w-16 cursor-pointer transition-all duration-300 ease-in-out hover:rotate-90 hover:scale-105"
            aria-details="The settings button."
        />
    </div>
</nav>

<style>
    html.dev .dev-wheel {
        @apply h-16 w-16;
    }
</style>
