---
import Logo from "./Logo.astro";
---

<nav class="flex justify-between items-center p-4">
    <a href="/business-card">
        <Logo class="w-48" />
    </a>
    <div class="flex gap-8 h-full">
        <a class="text-2xl font-display font-medium" href="/"> My Projects</a>
        <a class="text-2xl font-display font-medium" href="/contact">Contact</a>
        <a class="text-2xl font-display font-medium" href="/about">About</a>
        <a class="text-2xl font-display font-medium" href="/services"
            >Services</a
        >
    </div>
</nav>
