---
import Layout from "@/layouts/MainLayout.astro";
---

<Layout SEO={{ title: "404 - Not Found" }}>
  <main class="flex h-full w-full items-center justify-center">
    <h1>404 - Not Found</h1>
  </main>
</Layout>
