---
import KanielKirby from "@/components/pictures/KanielKirby.astro";
import Layout from "@/layouts/MainLayout.astro";
import constants from "@/scripts/constants";
---

<Layout
  SEO={{
    title: "About",
  }}
>
  <main class="flex w-full flex-col items-center gap-8">
    <h1>About Me</h1>
    <div class="flex gap-8 p-8 text-lg max-md:flex-col-reverse">
      <div
        class="flex h-fit w-full flex-col items-center gap-4 md:sticky md:bottom-12 md:top-24"
      >
        <div
          id="my-img-1"
          aria-label="Click me!"
          class="tt-br z-10 m-4 max-w-[22rem] cursor-pointer rounded-3xl bg-black shadow-md transition-all duration-200 hover:scale-[1.025] hover:shadow-xl"
        >
          <KanielKirby class="overflow-hidden rounded-3xl opacity-80" />
        </div>
        <a class="link" href="/contact">Contact Me</a>
        <a class="link" href="/">My Projects</a>
        <a class="link" href={constants.links.resume}>My Resume</a>
      </div>
      <div class="flex w-full flex-col gap-4 text-center">
        <h2>Hey there!</h2>
        <p>
          I'm Kaniel Kirby, a 20-year-old web developer from Abilene, Texas. I
          have a passion for creating beautiful, user-friendly websites that are
          interactive and visually engaging. I am proficient in
          React-Typescript, a tech stack I use to build and design user
          interfaces that are as functional as they are aesthetic.
        </p>
        <p>
          When I'm not building websites, I enjoy drinking coffee, making music,
          and biking. I aspire to build a career around my skills and talents in
          web development by creating functional and engaging websites for my
          clientele. I enjoy working in a team setting and leading projects.
          Being flexible and always willing to learn new things, I quickly adapt
          to new technologies and techniques to ensure my clients are satisfied
          with their results.
        </p>
        <p>
          I began programming because I wanted to build websites the right way.
          I believe every client deserves a website that is built with the kind
          of care and passion that I put into my projects. Tired of outdated,
          clunky web pages? <span class="font-bold">Me too.</span> I want to work
          with you every step of the way as I create a personalized website that
          is accessible for you and your consumers.
        </p>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { subscribeImage } from "@/store/settings";
  subscribeImage("#my-img-1");
</script>
