---
import Logo from "@/components/Logo.astro";
import KanielKirby2 from "@/components/pictures/KanielKirby2.astro";
import Base from "@/layouts/BaseLayout.astro";
import constants from "@/scripts/constants";
import { Image } from "@astrojs/image/components";
import Splash from "@/components/pictures/Splash.astro";
---

<Base
  SEO={{
    title: "Business Card",
  }}
  class="fixed left-0 top-0 flex h-screen w-screen items-center justify-center bg-neutral-900 [perspective:1000px]"
>
  <main
    id="business-card"
    class="relative flex aspect-[2/3.5] flex-col items-center justify-center gap-4 transition-all duration-500 [transform-style:preserve-3d] flip:[transform:rotate3d(0,1,0,180deg)] max-md:h-[80%] md:aspect-[3.5/2] md:w-[95%]"
  >
    <!-- Front -->
    <div
      class="absolute h-full w-full overflow-hidden bg-black [-webkit-backface-visibility:hidden] [backface-visibility:hidden]"
    >
      <div class="absolute z-0 h-full w-full">
        <Splash
          type="blue"
          class="max-md:bottom-[-50%] max-md:left-[-40%] md:bottom-[-55%] md:left-[-55%]"
        />
        <Splash
          type="red"
          class="max-md:right-[-50%] max-md:top-[-60%] md:right-[-50%] md:top-[-50%]"
        />
        <Splash type="red" class="max-md:bottom-0" />
      </div>
      <Logo
        class="absolute-center aspect-square h-full w-full select-none max-md:top-[-20%] max-md:h-[35%] md:top-[-25%] md:w-[35%]"
      />
      <h1
        class="absolute-center h-fit w-fit font-body max-md:top-[22%] max-md:text-[6vh] md:top-[45%] md:text-[7.5vw]"
      >
        Kaniel Kirby
      </h1>
      <h2
        class="absolute-center h-fit w-fit font-body opacity-70 max-md:top-[38%] max-md:text-[4vh] md:top-[70%] md:text-[5.25vw]"
      >
        Web Developer
      </h2>
    </div>
    <!-- Back -->
    <div
      class="absolute flex h-full w-full justify-between gap-4 overflow-hidden bg-black [-webkit-backface-visibility:hidden] [backface-visibility:hidden] [transform:rotate3d(0,1,0,180deg)]"
    >
      <div class="absolute -z-10 h-full w-full">
        <Splash type="blue" class="bottom-[-50%] left-[-50%]" />
        <Splash
          type="blue"
          class="max-md:bottom-[-50%] max-md:right-[-40%] md:left-[-20%] md:top-[-50%]"
        />
        <Splash type="red" class="max-md:top-[-40%] md:right-[-40%]" />
      </div>
      <div
        aria-label="Kaniel Kirby"
        role="tooltip"
        class="tt-b absolute top-[2%] aspect-square select-none max-md:left-0 max-md:right-0 max-md:mx-auto max-md:h-[28%] md:left-[20%] md:w-[22%]"
      >
        <KanielKirby2
          class="h-full w-full overflow-hidden rounded-[2%] object-cover"
          format="avif"
        />
      </div>
      <h1
        class="absolute text-center font-body max-md:top-[34%] max-md:w-full max-md:text-[4vh] md:left-[8%] md:top-[38%] md:text-[5.5vw]"
      >
        Kaniel Kirby
      </h1>
      <a
        role="tooltip"
        aria-label="LinkedIn"
        class="group tt-b absolute flex items-center justify-center gap-[2%] max-md:left-0 max-md:right-0 max-md:top-[42%] max-md:mx-auto max-md:h-[6vh] md:left-[10%] md:top-[52%] md:w-[8vw]"
        href={constants.linkedin}
      >
        <Image
          src={import("@/assets/svgs/linkedin-round.svg")}
          alt="LinkedIn Icon"
          class="select-none transition-all duration-300 ease-in-out group-hover:-rotate-12 max-md:h-full max-md:w-fit md:h-fit md:w-full"
        />
        <span
          class="w-full font-body transition-all duration-200 group-hover:scale-[1.05] group-hover:text-green-300 max-md:text-[2.6vh] md:text-[4.5vw]"
          >@{constants.linkedin.split("/").findLast((link) => link)}</span
        >
      </a>
      <a
        role="tooltip"
        aria-label="Phone Number"
        class="group tt-b absolute flex items-center justify-center gap-[2.5%] max-md:left-0 max-md:right-0 max-md:top-[50%] max-md:mx-auto max-md:h-[6vh] md:left-[10%] md:top-[67%] md:w-[8vw]"
        href={"tel:+1 " + constants.phone}
      >
        <Image
          src={import("@/assets/svgs/phone-white.svg")}
          alt="Phone Icon"
          class="select-none transition-all duration-300 ease-in-out group-hover:-rotate-12 max-md:h-full max-md:w-fit md:h-fit md:w-full"
        />
        <span
          class="w-full font-body transition-all duration-200 group-hover:scale-[1.05] group-hover:text-green-300 max-md:text-[2.6vh] md:text-[4.5vw]"
          >{constants.phone}</span
        >
      </a>
      <a
        role="tooltip"
        aria-label="Email"
        class="group tt-b absolute flex items-center justify-center gap-[2.5%] max-md:left-0 max-md:right-0 max-md:top-[58%] max-md:mx-auto max-md:h-[6vh] md:left-[10%] md:top-[82%] md:w-[8vw]"
        href={"mailto:" + constants.email}
      >
        <Image
          src={import("@/assets/svgs/mail-white.svg")}
          alt="Email Icon"
          class="select-none transition-all duration-300 ease-in-out group-hover:-rotate-12 max-md:h-full max-md:w-fit md:h-fit md:w-full"
        />
        <span
          class="w-full font-body transition-all duration-200 group-hover:scale-[1.05] group-hover:text-green-300 max-md:text-[2.6vh] md:text-[4.5vw]"
          >{constants.email}</span
        >
      </a>
      <a
        rel="prefetch"
        href="/"
        role="tooltip"
        aria-label="My Website"
        class="group tt-t absolute rounded-[1%] max-md:bottom-[2%] max-md:left-0 max-md:right-0 max-md:mx-auto max-md:h-[28%] max-md:w-fit md:bottom-0 md:right-[2%] md:top-0 md:my-auto md:h-fit md:w-[22%]"
      >
        <Image
          src={import("@/assets/svgs/qr-code.svg")}
          alt="QR Code to Kaniel's website"
          class="h-full w-full select-none rounded-[2%] border-[2%] border-black bg-white transition-all duration-200 group-hover:scale-[1.05]"
        />
      </a>
    </div>
  </main>
</Base>

<script>
  import { $flipped, toggle } from "@/store/card";
  const html = document.documentElement;
  const card = document.querySelector("#business-card");
  card?.addEventListener("click", toggle);
  $flipped.subscribe((isFlipped) =>
    isFlipped ? html.classList.add("flipped") : html.classList.remove("flipped")
  );
</script>
