---
import Layout from "@/layouts/MainLayout.astro";
import constants from "@/scripts/constants";
---

<Layout
  SEO={{
    title: "Services",
  }}
>
  <main class="flex w-full flex-col items-center gap-8 text-center">
    <h1 class="mb-4">Services</h1>
    <h2 class="text-xl">Creative Design</h2>
    <p class="max-w-prose">
      I believe websites should be as beautiful as they are functional. From
      concept to reality, I transform your ideas into engaging designs that
      represent your brand the way YOU want to be represented.
    </p>
    <h2 class="text-xl">Optimized Performance</h2>
    <p class="max-w-prose">
      Performance matters! For users with low end devices and unreliable
      networks, their first impression of your site could be a blank screen. I
      bring your website to life with smooth interactions and seamless user
      navigation, even for those with slow connections. Using techniques like
      tree-shaking and code splitting, I ensure your website loads
      lightning-fast, engaging users from the moment they land.
    </p>
    <h2 class="text-xl">Accessibility First</h2>
    <p class="max-w-prose">
      I believe in equal access for everyone. Not everyone experiences the
      internet the same way. Don’t lose out on customers because your website is
      difficult to navigate for those with additional needs. I can build your
      website with accessibility in mind, without sacrificing engaging design.
    </p>
    <h2 class="text-xl">Privacy and Security</h2>
    <p class="max-w-prose">
      More than ever, your users are concerned about their online protection. I
      implement robust security measures and follow industry best practices to
      protect your website and user information.
    </p>
    <h2 class="text-xl">Custom Solutions</h2>
    <p class="max-w-prose">
      I tailor solutions to meet your unique needs. My scalable designs grow
      with your business, adapting to changing requirements and maintaining a
      consistent user experience. No project is too small or large for my
      services.
    </p>
    <h2 class="text-xl">SEO</h2>
    <p class="max-w-prose">
      Boost your online visibility with search engine optimized (SEO) code and
      content. I’ll ensure your website shines on search engines and is easy for
      your customers to find.
    </p>
    <hr class="my-4 mb-4 w-[90%] max-w-prose bg-white" />
    <p class="mb-12 max-w-prose">
      Ready to elevate your digital presence? <a class="link" href="/contact"
        >Contact me</a
      > today to discuss how I can transform your ideas into a reality. Let's build
      a website that doesn't just meet expectations, but exceeds them. Get in touch
      now!
    </p>
  </main>
</Layout>

<script>
  import { subscribeImage } from "@/store/settings";
  subscribeImage("#my-img-1");
</script>
