---
// import { Image } from "astro:assets";
export interface Props extends astroHTML.JSX.CanvasHTMLAttributes {}
import img from "@/assets/images/canvas-img.webp";
---

<div
  class="absolute -z-30 h-full w-full bg-[#00000030] opacity-0 backdrop-invert transition-all duration-200 descends-[html.inverted]:opacity-100"
>
</div>
<!-- <Image
  src={img}
  alt=""
  format="avif"
  loading="eager"
  decoding="sync"
  sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w, (max-width: 1800px) 1800w"
/> -->
<img
  src={img}
  alt=""
  class="absolute -z-50 h-full w-full object-fill descends-[html.invert]:saturate-[1.25]"
/>

<canvas
  class="fixed left-0 top-0 -z-40 hidden h-full w-full transition-all duration-1000 descends-[html:not(.moving)]:opacity-0"
  id="canvas"
  {...Astro.props}></canvas>

<script src="@/scripts/three.ts"></script>
