---
export interface Props extends astroHTML.JSX.CanvasHTMLAttributes {}
---

<canvas
  class="bg -z-50 descends-[html.inverted]:invert"
  id="canvas"
  {...Astro.props}></canvas>
<div class="overlay bg -z-40 bg-black opacity-20"></div>

<style is:global>
  .bg {
    @apply fixed left-0 top-0 h-full w-full select-none transition-all duration-200 !important;
  }
  html:not(.moving) canvas.bg,
  html:not(.moving) .overlay.bg,
  html.moving .canvas-img {
    @apply hidden;
  }
</style>

<script src="@/scripts/three.ts"></script>
