---
import { Image } from "astro:assets";
export interface Props extends astroHTML.JSX.CanvasHTMLAttributes {}
import img from "@/assets/images/canvas-img.webp";
---

<div
  class="absolute -z-30 h-full w-full opacity-30 descends-[html.inverted]:bg-black"
>
</div>
<Image
  src={img}
  alt=""
  class="absolute -z-50 h-full w-full object-fill saturate-[1.25] descends-[html.inverted]:invert descends-[html.inverted]:saturate-150"
  format="avif"
  loading="eager"
  decoding="sync"
  sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w, (max-width: 1800px) 1800w"
/>

<canvas
  class="fixed left-0 top-0 -z-40 hidden h-full w-full descends-[html:not(.moving)]:hidden descends-[html.inverted]:invert"
  id="canvas"
  {...Astro.props}></canvas>

<script src="@/scripts/three.ts"></script>
