---
import { Image } from "astro:assets";
import img from "@/assets/images/canvas-img.webp";
---

<div
  class="absolute -z-30 h-full w-full bg-black bg-opacity-30 opacity-0 backdrop-invert transition-all duration-1000 descends-[html.inverted]:opacity-100"
>
</div>

<Image
  src={img}
  format="webp"
  loading="eager"
  decoding="sync"
  alt=""
  sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w, (max-width: 1800px) 1800w"
  class="absolute -z-50 h-full w-full object-fill descends-[html.invert]:saturate-[1.25]"
/>

<canvas
  class="fixed left-0 top-0 -z-40 hidden h-full w-full transition-opacity duration-1000 descends-[html:not(.moving)]:opacity-0"
  id="canvas"></canvas>
