<div aria-label="Codepen by Kevin Levron" role="tooltip" class="tt-t">
  <div class="overflow-hidden rounded-md">
    <div
      class="codepen"
      data-height="300"
      data-default-tab="result"
      data-slug-hash="xxGqJxj"
      data-user="soju22"
      class="flex aspect-square h-80 items-center justify-center border-2 border-black bg-black"
    >
      <span
        >See the Pen <a href="https://codepen.io/soju22/pen/xxGqJxj">
          Random, Cos and Sin</a
        > by Kevin Levron (<a href="https://codepen.io/soju22">@soju22</a>) on <a
          href="https://codepen.io">CodePen</a
        >.</span
      >
    </div>
  </div>
</div>

<script async defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"
></script>
