---
import Iconbar from "@/components/Iconbar.astro";

export interface Props {
  short?: boolean;
}

const { short } = Astro.props;
---

<footer
  class=`flex items-center gap-8 p-4 ${short ? "justify-center": "justify-between max-md:flex-col-reverse"}`
>
  <a rel="prefetch" class="link" href="/credits">Credits and Attributions</a>
  {!short && <Iconbar />}
</footer>
