---
import { Image } from "@astrojs/image/components";
---

<ul
  class="flex gap-2 nth-[3-4]:**-[li]:tt-t nth-[1-2]:**-[li]:tt-tr nth-[5-6]:**-[li]:tt-tl"
>
  <li aria-label="Discord">
    <a href="https://discordapp.com/users/347554007750803459/">
      <Image
        src={import("@/assets/svgs/discord.svg")}
        alt="Discord icon"
        width={100}
        height={100}
        class="opacity-50 transition-all duration-200 hover:scale-110 hover:opacity-90"
      />
    </a>
  </li>
  <li aria-label="Email">
    <a href="mailto:kanielrkirby@runbox.com">
      <Image
        src={import("@/assets/svgs/mail.svg")}
        alt="Email icon"
        width={100}
        height={100}
        class="opacity-50 transition-all duration-200 hover:scale-110 hover:opacity-90"
      />
    </a>
  </li>
  <li aria-label="LinkedIn">
    <a href="https://www.linkedincom/in/kaniel-kirby-9b1460261/">
      <Image
        src={import("@/assets/svgs/linkedin.svg")}
        alt="LinkedIn icon"
        width={100}
        height={100}
        class="opacity-50 transition-all duration-200 hover:scale-110 hover:opacity-90"
      />
    </a>
  </li>
  <li aria-label="Github">
    <a href="https://github.com/piratey7007/">
      <Image
        src={import("@/assets/svgs/github.svg")}
        alt="Github icon"
        width={100}
        height={100}
        class="opacity-50 transition-all duration-200 hover:scale-110 hover:opacity-90"
      />
    </a>
  </li>
  <li aria-label="Reddit">
    <a href="https://www.reddit.com/user/CompetitiveAd7245/">
      <Image
        src={import("@/assets/svgs/reddit.svg")}
        alt="Reddit icon"
        width={100}
        height={100}
        class="opacity-50 transition-all duration-200 hover:scale-110 hover:opacity-90"
      />
    </a>
  </li>
  <li aria-label="Resume">
    <a href="https://www.google.com/drive/">
      <Image
        src={import("@/assets/svgs/resume.svg")}
        alt="Resume icon"
        width={100}
        height={100}
        class="opacity-50 transition-all duration-200 hover:scale-110 hover:opacity-90"
      />
    </a>
  </li>
</ul>
