---
import Modal from "./Modal.astro";
---

<Modal name="info">
  <p id="info-content"></p>
</Modal>

<script>
  import { $info } from "@/store/info";
  const title = document.querySelector("#info-modal-title") as HTMLElement;
  const content = document.querySelector("#info-content") as HTMLElement;
  $info.subscribe(({ title: t, content: c }) => {
    title.innerText = t;
    content.innerText = c;
  });
</script>
