<div
  class="fixed left-0 top-0 z-50 h-full w-full bg-white opacity-0 transition-all duration-200 descends-[.fade]:pointer-events-none descends-[html:not(.loading)]:hidden"
  id="loading-screen"
>
  <div
    aria-label="Loading..."
    role="tooltip"
    class="tt-b aspect-square w-16 transition-all duration-200 hover:scale-105"
  >
    <div
      class="absolute h-full w-full animate-spin-slow border-[5px] border-t-black opacity-50"
    >
    </div>
    <div
      class="absolute h-full w-full animate-spin border-[5px] border-b-black opacity-50"
    >
    </div>
  </div>
</div>

<script>
  const loadingScreen = document.querySelector(
    "#loading-screen"
  ) as HTMLElement;
  setTimeout(() => {
    document.documentElement.classList.add("fade");
    loadingScreen.ontransitionend = loadingScreen.ontransitioncancel = () =>
      document.documentElement.classList.remove("fade", "loading");
  }, 300);
</script>
