<div
  class="fixed left-0 top-0 z-[1000] h-full w-full bg-white transition-all duration-500"
  id="loading-screen"
>
  <div
    aria-label="Loading..."
    role="tooltip"
    class="tt-b absolute-center aspect-square w-16 transition-all duration-200 hover:scale-105 *:absolute *:h-full *:w-full *:rounded-full *:border-[5px] *:opacity-50"
  >
    <div class="animate-spin-slow border-t-black"></div>
    <div class="animate-spin border-b-black"></div>
  </div>
</div>

<style>
  html.loading #loading-screen {
    @apply block;
  }
  html.loading.fade #loading-screen {
    @apply pointer-events-none opacity-0;
  }
  html:not(.loading) #loading-screen {
    @apply hidden;
  }
</style>

<script>
  const loadingScreen = document.querySelector(
    "#loading-screen"
  ) as HTMLDivElement;

  document.documentElement.classList.add("fade");
  loadingScreen.ontransitionend = loadingScreen.ontransitioncancel = () =>
    document.documentElement.classList.remove("fade", "loading");
</script>
