---
import Logo from "@/components/Logo.astro";
---

<nav
  class="flex items-center justify-between p-4 text-white max-md:justify-center"
>
  <a
    aria-label="Business Card"
    href="/business-card"
    class="tt-br font-display max-md:tt-b"
  >
    <Logo class="w-48" />
  </a>
  <div class="flex h-full items-center gap-8">
    <a
      class="text-xl transition-all duration-300 [text-shadow:3px_3px_4px_#00000050] hover:rotate-6 hover:scale-105 hover:[text-shadow:4px_4px_6px_#00000080] max-md:hidden"
      href="/">My Projects</a
    >
    <a
      class="text-xl transition-all duration-300 [text-shadow:3px_3px_4px_#00000050] hover:-rotate-6 hover:scale-105 hover:[text-shadow:4px_4px_6px_#00000080] max-md:hidden"
      href="/contact">Contact</a
    >
    <a
      class="text-xl transition-all duration-300 [text-shadow:3px_3px_4px_#00000050] hover:rotate-6 hover:scale-105 hover:[text-shadow:4px_4px_6px_#00000080] max-md:hidden"
      href="/about">About</a
    >
    <a
      class="text-xl transition-all duration-300 [text-shadow:3px_3px_4px_#00000050] hover:-rotate-6 hover:scale-105 hover:[text-shadow:4px_4px_6px_#00000080] max-md:hidden"
      href="/services">Services</a
    >
    <button
      aria-label="Settings"
      id="settings-wheel"
      class="tt-bl relative aspect-square w-0 transition-all duration-200 descends-[html.dev]:h-16 descends-[html.dev]:w-14 max-md:!absolute max-md:right-2"
    >
      <img
        src="/src/assets/svgs/settings.svg"
        alt="settings wheel"
        class="absolute-center w-full cursor-pointer transition-all duration-500 ease-in-out hover:rotate-90 hover:scale-105"
      />
    </button>
  </div>
</nav>
