---
import Logo from "@/components/Logo.astro";
---

<nav class="flex w-full items-center justify-between gap-8 p-4 text-white">
  <button
    aria-label="Navigation"
    class="nav-modal-btn group tt-br w-16 md:hidden"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
      class="h-full w-full transition-all duration-300 group-hover:rotate-6"
    >
      <path
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
  <a
    aria-label="Business Card"
    href="/business-card"
    class="tt-b left-0 right-0 mx-auto w-fit md:tt-br max-md:absolute"
  >
    <Logo
      class="hover:shadow-3xl w-20 shadow-lg shadow-[#00000050] hover:scale-105"
    />
  </a>
  <div
    class="flex h-full w-full place-content-end items-center gap-8 max-md:hidden"
  >
    <a
      class="text-xl transition-all duration-300 hover:rotate-6 hover:scale-105"
      href="/">My Projects</a
    >
    <a
      class="text-xl transition-all duration-300 hover:-rotate-6 hover:scale-105"
      href="/contact">Contact</a
    >
    <a
      class="text-xl transition-all duration-300 hover:rotate-6 hover:scale-105"
      href="/about">About</a
    >
    <a
      class="text-xl transition-all duration-300 hover:-rotate-6 hover:scale-105"
      href="/services">Services</a
    >
  </div>
  <button
    aria-label="Settings"
    class="settings-modal-btn tt-bl relative aspect-square w-0 transition-all duration-300 descends-[html.dev]:w-16"
  >
    <svg
      viewBox="0 0 100 100"
      fill="none"
      class="absolute bottom-0 left-0 right-0 top-0 m-auto w-full cursor-pointer transition-all duration-300 hover:rotate-45 hover:scale-105"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_20_92)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M49.9999 83.35C68.4186 83.35 83.3499 68.4187 83.3499 50C83.3499 31.5813 68.4186 16.65 49.9999 16.65C31.5812 16.65 16.6499 31.5813 16.6499 50C16.6499 68.4187 31.5812 83.35 49.9999 83.35ZM49.9999 66.1C58.8917 66.1 66.0999 58.8918 66.0999 50C66.0999 41.1082 58.8917 33.9 49.9999 33.9C41.1081 33.9 33.8999 41.1082 33.8999 50C33.8999 58.8918 41.1081 66.1 49.9999 66.1Z"
          fill="#8E8E8E"></path>
        <g filter="url(#filter0_d_20_92)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M49.9999 66.1C58.8917 66.1 66.0999 58.8918 66.0999 50C66.0999 41.1082 58.8917 33.9 49.9999 33.9C41.1081 33.9 33.8999 41.1082 33.8999 50C33.8999 58.8918 41.1081 66.1 49.9999 66.1ZM49.9999 60.35C55.716 60.35 60.3499 55.7161 60.3499 50C60.3499 44.2838 55.716 39.65 49.9999 39.65C44.2838 39.65 39.6499 44.2838 39.6499 50C39.6499 55.7161 44.2838 60.35 49.9999 60.35Z"
            fill="#9F9F9F"></path>
        </g>
        <g filter="url(#filter1_d_20_92)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M45.6606 4C44.2164 4 43.0164 5.1134 42.9084 6.55358L42.5289 11.613C40.7304 11.961 38.9759 12.4322 37.2745 13.0175L34.4181 8.82854C33.6045 7.63531 32.0085 7.2711 30.7578 7.99321L23.242 12.3325C21.9912 13.0546 21.5087 14.6188 22.1352 15.9201L24.3394 20.4977C22.9719 21.6881 21.688 22.972 20.4976 24.3394L15.9201 22.1354C14.6189 21.5088 13.0546 21.9914 12.3325 23.2421L7.99326 30.7579C7.27115 32.0086 7.63536 33.6046 8.82859 34.4182L13.0175 37.2746C12.4322 38.976 11.9609 40.7305 11.613 42.529L6.55358 42.9085C5.1134 43.0165 4 44.2165 4 45.6607V54.3392C4 55.7835 5.11339 56.9835 6.55358 57.0915L11.613 57.471C11.9609 59.2694 12.4322 61.024 13.0175 62.7254L8.82848 65.5818C7.63525 66.3954 7.27104 67.9914 7.99315 69.2421L12.3324 76.7579C13.0545 78.0087 14.6188 78.4912 15.92 77.8647L20.4976 75.6605C21.688 77.028 22.9719 78.3119 24.3394 79.5023L22.1353 84.0799C21.5087 85.3812 21.9913 86.9454 23.242 87.6675L30.7578 92.0068C32.0085 92.7289 33.6045 92.3647 34.4181 91.1715L37.2745 86.9825C38.9759 87.5678 40.7304 88.039 42.5289 88.387L42.9084 93.4464C43.0164 94.8866 44.2164 96 45.6606 96H54.3391C55.7834 96 56.9834 94.8866 57.0914 93.4464L57.4709 88.3871C59.2693 88.0391 61.0239 87.5679 62.7253 86.9825L65.5816 91.1715C66.3953 92.3647 67.9912 92.7289 69.242 92.0068L76.7578 87.6675C78.0085 86.9454 78.4911 85.3812 77.8645 84.0799L75.6605 79.5025C77.028 78.312 78.312 77.0281 79.5024 75.6605L84.08 77.8647C85.3812 78.4912 86.9455 78.0087 87.6676 76.7579L92.0069 69.2421C92.729 67.9914 92.3647 66.3954 91.1715 65.5818L86.9825 62.7254C87.5679 61.024 88.0391 59.2694 88.3871 57.471L93.4464 57.0915C94.8866 56.9835 96 55.7835 96 54.3392V45.6607C96 44.2165 94.8866 43.0165 93.4464 42.9085L88.387 42.529C88.0391 40.7305 87.5678 38.976 86.9825 37.2746L91.1714 34.4182C92.3646 33.6046 92.7289 32.0087 92.0067 30.7579L87.6675 23.2421C86.9454 21.9914 85.3811 21.5088 84.0799 22.1354L79.5024 24.3394C78.312 22.9719 77.028 21.688 75.6605 20.4975L77.8645 15.9201C78.4911 14.6188 78.0085 13.0546 76.7578 12.3325L69.242 7.99321C67.9913 7.27109 66.3953 7.63531 65.5817 8.82854L62.7254 13.0175C61.0239 12.4321 59.2694 11.9609 57.4709 11.6129L57.0914 6.55358C56.9834 5.1134 55.7834 4 54.3391 4H45.6606ZM50 83.35C68.4187 83.35 83.35 68.4187 83.35 50C83.35 31.5813 68.4187 16.65 50 16.65C31.5813 16.65 16.65 31.5813 16.65 50C16.65 68.4187 31.5813 83.35 50 83.35Z"
            fill="#9F9F9F"></path>
        </g>
      </g>
      <defs>
        <filter
          id="filter0_d_20_92"
          x="29.8999"
          y="29.9"
          width="40.2"
          height="40.2"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset></feOffset>
          <feGaussianBlur stdDeviation="2"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.75 0"></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_20_92"></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_20_92"
            result="shape"></feBlend>
        </filter>
        <filter
          id="filter1_d_20_92"
          x="0"
          y="0"
          width="100"
          height="100"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset></feOffset>
          <feGaussianBlur stdDeviation="2"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.75 0"></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_20_92"></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_20_92"
            result="shape"></feBlend>
        </filter>
      </defs>
    </svg>
  </button>
</nav>
