---
import Modal from "@/components/Modal.astro";
---

<Modal name="navigation">
  <nav class="flex flex-col items-center gap-1">
    <a
      class="bg-white bg-opacity-0 p-4 transition-all duration-200 hover:scale-105 hover:bg-opacity-25"
      href="/business-card">Business Card</a
    >
    <a
      class="bg-white bg-opacity-0 p-4 transition-all duration-200 hover:scale-105 hover:bg-opacity-25"
      href="/">My Projects</a
    >
    <a
      class="bg-white bg-opacity-0 p-4 transition-all duration-200 hover:scale-105 hover:bg-opacity-25"
      href="/about">About</a
    >
    <a
      class="bg-white bg-opacity-0 p-4 transition-all duration-200 hover:scale-105 hover:bg-opacity-25"
      href="/contact">Contact</a
    >
    <a
      class="bg-white bg-opacity-0 p-4 transition-all duration-200 hover:scale-105 hover:bg-opacity-25"
      href="/services">Services</a
    >
  </nav>
</Modal>
