---
import Modal from "@/components/Modal.astro";
---

<Modal name="nav">
  <nav class="flex flex-col items-center gap-1 text-center">
    <a
      rel="prefetch"
      class="w-64 max-w-[95%] rounded-md bg-black bg-opacity-5 p-4 transition-all duration-200 hover:w-full hover:scale-105 hover:bg-opacity-100 hover:text-green-300 descends-[html.inverted]:hover:text-red-300"
      href="/business-card">Business Card</a
    >
    <a
      rel="prefetch"
      class="w-72 max-w-[95%] rounded-md bg-black bg-opacity-5 p-4 transition-all duration-200 hover:w-full hover:scale-105 hover:bg-opacity-100 hover:text-green-300 descends-[html.inverted]:hover:text-red-300"
      href="/">My Projects</a
    >
    <a
      rel="prefetch"
      class="w-80 max-w-[95%] rounded-md bg-black bg-opacity-5 p-4 transition-all duration-200 hover:w-full hover:scale-105 hover:bg-opacity-100 hover:text-green-300 descends-[html.inverted]:hover:text-red-300"
      href="/about">About</a
    >
    <a
      rel="prefetch"
      class="w-72 max-w-[95%] rounded-md bg-black bg-opacity-5 p-4 transition-all duration-200 hover:w-full hover:scale-105 hover:bg-opacity-100 hover:text-green-300 descends-[html.inverted]:hover:text-red-300"
      href="/contact">Contact</a
    >
    <a
      rel="prefetch"
      class="w-64 max-w-[95%] rounded-md bg-black bg-opacity-5 p-4 transition-all duration-200 hover:w-full hover:scale-105 hover:bg-opacity-100 hover:text-green-300 descends-[html.inverted]:hover:text-red-300"
      href="/services">Services</a
    >
  </nav>
</Modal>
