---
import Modal from "@/components/Modal.astro";
---

<Modal name="settings" class="">
  <label
    class="group flex w-full cursor-pointer select-none justify-between rounded-sm bg-black bg-opacity-0 p-4 outline outline-[#00000050] transition-all duration-200 hover:bg-opacity-5 hover:outline-black"
    for="moving-background-input"
  >
    <span
      class="font-bold text-black text-opacity-50 transition-all duration-200 group-hover:text-opacity-100"
      >Moving Background</span
    >
    <input
      class="cursor-pointer"
      id="moving-background-input"
      type="checkbox"
    />
  </label>
  <label
    class="group flex w-full cursor-pointer select-none justify-between rounded-sm bg-black bg-opacity-0 p-4 outline outline-[#00000050] transition-all duration-200 hover:bg-opacity-5 hover:outline-black"
    for="invert-background-input"
  >
    <span
      class="font-bold text-black text-opacity-50 transition-all duration-200 group-hover:text-opacity-100"
      >Invert Background</span
    >
    <input
      class="cursor-pointer"
      id="invert-background-input"
      type="checkbox"
    />
  </label>
  <label
    class="group flex w-full cursor-pointer select-none justify-between rounded-sm bg-black bg-opacity-0 p-4 outline outline-[#00000050] transition-all duration-200 hover:bg-opacity-5 hover:outline-black"
    for="dev-mode-input"
  >
    <span
      class="font-bold text-black text-opacity-50 transition-all duration-200 group-hover:text-opacity-100"
      >Developer Mode</span
    >
    <input class="cursor-pointer" id="dev-mode-input" type="checkbox" />
  </label>
</Modal>

<script>
  import { $settings, toggle } from "@/store/settings";
  const movingBackground = document.querySelector(
    "#moving-background-input"
  ) as HTMLInputElement;
  const invertBackground = document.querySelector(
    "#invert-background-input"
  ) as HTMLInputElement;
  const dev = document.querySelector("#dev-mode-input") as HTMLInputElement;

  movingBackground.onchange = () => toggle("movingBackground");
  invertBackground.onchange = () => toggle("invertBackground");
  dev.onchange = () => toggle("dev");

  $settings.subscribe((val) => {
    movingBackground.checked = val.movingBackground;
    dev.checked = val.dev;
    invertBackground.checked = val.invertBackground;
  });
</script>
