[data-tt] {
  position: relative;
}

[data-tt]:after {
  position: absolute;
  font-size: 13px;
  border-radius: 0.3rem;
  content: attr(data-tt);
  padding: 12.8px;
  padding: 0.8rem;
  background-color: rgba(50, 50, 50, 1);
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  color: #fff;
  line-height: 20px;
  line-height: 1.25rem;
  text-align: left;
  z-index: 1;
  pointer-events: none;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  white-space: pre;
  width: auto;
}

[data-tt]:after {
  opacity: 0;
}

[data-tt]:hover {
  overflow: visible;
}

[data-tt]:hover:after {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}

[data-tt].tt-b:after {
  bottom: auto;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}

[data-tt].tt-b:hover:after {
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
}

[data-tt].tt-l:after {
  bottom: auto;
  left: auto;
  top: 50%;
  right: 100%;
  -webkit-transform: translate(10px, -50%);
  transform: translate(10px, -50%);
}

[data-tt].tt-l:hover:after {
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
}

[data-tt].tt-r:after {
  bottom: auto;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
}

[data-tt].tt-r:hover:after {
  -webkit-transform: translate(10px, -50%);
  transform: translate(10px, -50%);
}

[data-tt].tt-sm:after {
  white-space: normal;
  width: 80px;
}

[data-tt].tt-md:after {
  white-space: normal;
  width: 150px;
}

[data-tt].tt-lg:after {
  white-space: normal;
  width: 260px;
}

[data-tt].tt-fit:after {
  white-space: normal;
  width: 100%;
}

[data-tt].tt-align-right:after {
  text-align: right;
}

[data-tt].tt-align-center:after {
  text-align: center;
}

[data-tt=""]:after {
  visibility: hidden !important;
}
