@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Comfortaa";
  src: url('/src/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf'),
       url("https://fonts.bunnyfonts.net/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap")
}
@font-face {
  font-family: "Fira Mono";
  font-weight: normal;
  src: url('/src/assets/fonts/Fira_Mono/FiraMono-Regular.ttf'),
       url("https://fonts.bunnyfonts.net/css2?family=Fira+Mono:wght@400&display=swap")
}
@font-face {
  font-family: "Fira Mono";
  font-weight: bold;
  src: url('/src/assets/fonts/Fira_Mono/FiraMono-Bold.ttf'),
       url("https://fonts.bunnyfonts.net/css2?family=Fira+Mono:wght@700&display=swap")
}
@font-face {
  font-family: "Fira Mono";
  font-weight: medium;
  src: url('/src/assets/fonts/Fira_Mono/FiraMono-Medium.ttf'),
       url("https://fonts.bunnyfonts.net/css2?family=Fira+Mono:wght@500&display=swap")
}

html,
body,
#root,
.App {
  @apply m-0 h-full w-full p-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

* {
  @apply m-0 box-border p-0 font-body text-white antialiased selection:bg-green-300 selection:bg-opacity-90 selection:text-neutral-900;
}

.link.fancy {
  @apply pointer-events-auto relative text-clamp-4 text-green-300 transition-all duration-200 [text-shadow:0_0_5px_#00000030] after:pointer-events-none after:absolute after:left-0 after:right-0 after:bottom-0 after:-z-10 after:mx-auto after:h-full after:w-0 after:rounded-sm after:bg-teal-300 after:transition-all after:duration-200 after:ease-in-out after:content-[''] hover:text-black hover:after:w-full hover:after:scale-x-[115%] hover:after:scale-y-105;
}

.blog-link.blog-fancy {
  @apply pointer-events-auto relative z-0 transition-all duration-200 [text-shadow:0_0_5px_#00000030] after:pointer-events-none after:absolute after:left-0 after:right-0 after:bottom-0 after:-z-10 after:mx-auto after:h-full after:w-0 after:rounded-sm after:bg-teal-300 after:transition-all after:duration-200 after:ease-in-out after:content-[''] hover:after:w-full hover:after:scale-x-[115%] hover:after:scale-y-105;
}

html.invert-bg .link.fancy {
  @apply after:bg-red-300 hover:text-black font-bold;
}

html.invert-bg {
  @apply selection:bg-red-300;
}

html:not(.dev) .dev-pointer-rule{
  @apply pointer-events-none hidden;
}

html.dev .dev-wheel-rule {
  @apply w-20;
}

html:not(.scroll) .App {
  scroll-snap-type: mandatory;
  scrollbar-width: none;
}

html:not(.scroll) .App::-webkit-scrollbar {
  display: none;
}

html:not(.no-bg) .no-bg-canvas {
  display: block;
}

html:not(.no-bg) .bg-canvas {
  display: none;
}

html.no-bg .bg-canvas {
  display: block;
}

html.no-bg .no-bg-canvas {
  display: none;
}

div.bg-overlay {
  @apply opacity-0;
}

html.invert-bg div.bg-overlay {
  @apply opacity-100;
}

h1 {
  @apply text-clamp-6;
}

h2 {
  @apply text-clamp-5;
}

h3 {
  @apply text-clamp-4;
}

h4 {
  @apply text-clamp-3;
}

h5 {
  @apply text-clamp-2;
}

h6 {
  @apply text-clamp-1;
}

.tippy-box {
  @apply text-center;
}

p {
  @apply w-[80ch] max-w-[90vw] text-center;
}
