@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&display=swap");

html,
body,
#root,
.App {
  @apply m-0 h-full w-full p-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

* {
  @apply m-0 box-border p-0 font-body text-white antialiased selection:bg-green-300 selection:bg-opacity-90 selection:text-neutral-900;
}

.link.fancy {
  @apply pointer-events-auto relative text-green-300 transition-all duration-200 [text-shadow:0_0_5px_#00000030] after:pointer-events-none after:absolute after:left-0 after:right-0 after:bottom-0 after:z-10 after:-z-10 after:mx-auto after:h-full after:w-0 after:rounded-sm after:bg-green-300 after:transition-all after:duration-200 after:ease-in-out after:content-[''] hover:text-black hover:after:w-full hover:after:scale-x-[115%] hover:after:scale-y-105;
}

.blog-link.blog-fancy {
  @apply pointer-events-auto relative z-0 transition-all duration-200 [text-shadow:0_0_5px_#00000030] after:pointer-events-none after:absolute after:left-0 after:right-0 after:bottom-0 after:-z-10 after:mx-auto after:h-full after:w-0 after:rounded-sm after:bg-teal-300 after:transition-all after:duration-200 after:ease-in-out after:content-[''] hover:after:w-full hover:after:scale-x-[115%] hover:after:scale-y-105;
}

html:not(.scroll) .App {
  scroll-snap-type: mandatory;
  scrollbar-width: none;
}

html:not(.scroll) .App::-webkit-scrollbar {
  display: none;
}

html.no-bg .bg-canvas {
  display: none;
}

html.no-bg .no-bg-canvas {
  display: block;
}
