---
import { SEO, Props as SEOProps } from "astro-seo";

export interface Props {
  SEO: SEOProps;
  class?: string;
}

const { SEO: seoProps, class: className = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="loading w-full bg-neutral-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      {...seoProps}
      titleDefault="Kaniel Kirby"
      titleTemplate="%s | Kaniel Kirby"
    />
  </head>
  <body class={`w-full ${className}`}>
    <slot />
  </body>
</html>
