---
import type { Props as SEOProps } from "astro-seo";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import Background from "@/components/Background.astro";
import Loading from "@/components/Loading.astro";
import SettingsModal from "@/components/SettingsModal.astro";
import Base from "@/layouts/BaseLayout.astro";
import NavigationModal from "@/components/NavigationModal.astro";

export interface Props {
  SEO: SEOProps;
  shortfooter?: boolean;
}

const { SEO: seoProps, shortfooter } = Astro.props;
---

<Base SEO={seoProps}>
  <script>
    import "@/store/settings";
  </script>
  <body>
    <div id="root">
      <header></header>
      <Nav />
      <slot />
      <Footer short={shortfooter} />
    </div>
    <div
      class="fixed left-0 top-0 -z-50 h-full w-full bg-neutral-800"
      id="bg-root"
    >
      <Background />
    </div>
    <div class="z-50" id="modal-root">
      <SettingsModal />
      <NavigationModal />
      <Loading />
    </div>
    <script>
      import "@/scripts/modal";
      import "@/scripts/three";
    </script>
  </body>
</Base>
<style>
  @font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),
      url("/src/assets/fonts/Comfortaa/Comfortaa-Medium.min.woff2")
        format("woff2"),
      url("/src/assets/fonts/Comfortaa/Comfortaa-Medium.min.woff")
        format("woff"),
      url("/src/assets/fonts/Comfortaa/Comfortaa-Medium.min.ttf")
        format("opentype"),
      url("https://fonts.bunny.net/css?family=comfortaa:500)");
    font-display: "swap";
  }
  html,
  body {
    @apply h-full w-full;
  }
</style>
