---
import type { Props as SEOProps } from "astro-seo";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import Background from "@/components/Background.astro";
import Loading from "@/components/Loading.astro";
import CanvasImg from "@/components/pictures/CanvasImg.astro";
import SettingsModal from "@/components/SettingsModal.astro";
import Base from "@/layouts/BaseLayout.astro";
import NavigationModal from "@/components/NavigationModal.astro";

export interface Props {
  SEO: SEOProps;
  shortfooter?: boolean;
}

const { SEO: seoProps, shortfooter } = Astro.props;
---

<Base SEO={seoProps}>
  <body>
    <div id="root">
      <header></header>
      <Nav />
      <slot />
      <Footer short={shortfooter} />
    </div>
    <div class="-z-50" id="bg-root">
      <CanvasImg />
      <Background />
    </div>
    <div class="z-50" id="modal-root">
      <Loading />
      <SettingsModal />
      <NavigationModal />
    </div>
    <style is:global>
      html,
      body {
        @apply h-full w-full;
      }
    </style>
    <script>
      import "@/scripts/modal";
      import "@/store/settings";
    </script>
  </body>
</Base>
