---
import { Picture } from "@astrojs/image/components";
import canvasImg from "../../assets/images/canvas-img.webp";
---

<div class="fixed left-0 top-0 -z-50 h-full w-full">
  <div
    class="absolute -z-40 h-full w-full opacity-30 descends-[html.inverted]:bg-black"
  >
  </div>
  <Picture
    src={canvasImg}
    alt=""
    class="absolute -z-50 h-full w-full object-fill saturate-[1.25] descends-[html.inverted]:invert descends-[html.inverted]:saturate-150"
    widths={[800, 1200, 1800, 2400]}
    format="avif"
    loading="eager"
    decoding="sync"
    sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w, (max-width: 1800px) 1800w"
  />
</div>
